@mixin heading {
    margin: { top: 0; bottom: .5rem; }
    line-height: 1.2;
}

@mixin button($color, $shadow, $outline) {
    background-color: $color;
    transition: .3s;
    &:hover { background-color: $shadow; }
    &:focus { outline: .15em solid $outline; transition: .05s; }
}