@mixin heading {
    margin: { top: 0; bottom: .5rem; }
    line-height: 1.2;
}

@mixin tag {
    padding: .75em 1.2em;
    border: none;
    outline: none;
    border-radius: $radius-md;
    color: $white;
    font-weight: 500;
    text-decoration: none;
    font-weight: $fw-medium;
    font-size: 1rem;
}

@mixin button($color, $shadow, $outline, $outline-text: null) {
    background-color: $color;
    cursor: pointer;
    user-select: none;
    transition: .2s;
    &:hover { background-color: $shadow; @if $outline-text { color: $outline-text; } }
    &:focus { outline: .15em solid $outline; transition: .05s; }
}

@mixin input($color) {
    &:focus { outline: .15em solid $color; transition: .05s; }
}

@mixin responsive-navbar {
    .items { display: none; }
    .mobile-items {
        display: block;
    } 
}