* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $grey-darker;
    font: {
        family: $font;
        size: 1rem;
        weight: $fw-normal
    }
}

html {
    scroll-behavior: smooth;
}