// Font
$font: 'Inter', sans-serif;
$code: 'Inconsolata', monospace;

// Color Palette
$primary: hsl(13, 72%, 55%);
$secondary: hsl(343, 72%, 55%);
$success: hsl(134, 61%, 56%);
$danger: hsl(357, 64%, 52%);
$warning: hsl(81, 83%, 49%);
$info: hsl(192, 86%, 38%);
$link: hsl(217, 71%, 53%);
$light: hsl(0, 0%, 94%);
$dark: hsl(210, 10%, 23%);

$primary-shadow: hsl(13, 72%, 55%-4);
$secondary-shadow: hsl(343, 72%, 55%-4);
$success-shadow: hsl(134, 61%, 56%-4);
$danger-shadow: hsl(357, 64%, 52%-4);
$warning-shadow: hsl(81, 83%, 49%-4);
$info-shadow: hsl(192, 86%, 38%-4);
$link-shadow: hsl(217, 71%, 53%-4);
$light-shadow: hsl(0, 0%, 94%-4);
$dark-shadow: hsl(210, 10%, 23%-4);

$primary-light: hsla(13, 72%, 55%, 0.25);
$secondary-light: hsla(343, 72%, 55%, 0.25);
$success-light: hsla(134, 61%, 56%, 0.25);
$danger-light: hsla(357, 64%, 52%, 0.25);
$warning-light: hsla(81, 83%, 49%, 0.25);
$info-light: hsla(192, 86%, 38%, 0.25);
$link-light: hsla(217, 71%, 53%, 0.25);
$light-light: hsla(210, 17%, 73%, 0.25);
$dark-light: hsla(210, 10%, 23%, 0.25);

$primary-light-shadow: hsla(13, 72%, 55%, 0.4);
$secondary-light-shadow: hsla(343, 72%, 55%, 0.4);
$success-light-shadow: hsla(134, 61%, 56%, 0.4);
$danger-light-shadow: hsla(357, 64%, 52%, 0.4);
$warning-light-shadow: hsla(81, 83%, 49%, 0.4);
$info-light-shadow: hsla(192, 86%, 38%, 0.4);
$link-light-shadow: hsla(217, 71%, 53%, 0.4);
$light-light-shadow: hsla(210, 17%, 73%, 0.4);
$dark-light-shadow: hsla(210, 10%, 23%, 0.4);

$primary-outline: hsla(13, 72%, 55%, 0.5);
$secondary-outline: hsla(343, 72%, 55%, 0.5);
$success-outline: hsla(134, 61%, 56%, 0.5);
$danger-outline: hsla(357, 64%, 52%, 0.5);
$warning-outline: hsla(81, 83%, 49%, 0.5);
$info-outline: hsla(192, 86%, 38%, 0.5);
$link-outline: hsla(217, 71%, 53%, 0.5);
$light-outline: hsla(210, 17%, 73%, 0.5);
$dark-outline: hsla(210, 10%, 23%, 0.5);

$white: hsl(0, 0%, 100%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black: hsl(0, 0%, 4%);

// Font Weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// Box Shadow
$box-shadow-none: none;
$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$box-shadow-md: 0 .25rem .75rem rgba(0, 0, 0, .1);
$box-shadow-lg: 0 .5rem 1rem rgba(0, 0, 0, .15);

// Border Radius
$radius-none: 0;
$radius-sm: .375em;
$radius-md: .75em;
$radius-lg: 1em;
$radius-xl: 1.25em;
$radius-xxl: 1.5em;
$radius-circle: 100%;

// Responsive Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Screens
$sm-screen: 600px;
$md-screen: 992px;
$lg-screen: 1200px;

// Media Queries
$md-up: "only screen and (min-width : #{$sm-screen + 1})";
$lg-up: "only screen and (min-width : #{$md-screen + 1})";
$xl-up: "only screen and (min-width : #{$lg-screen + 1})";
$sm-down: "only screen and (max-width : #{$sm-screen})";
$md-down: "only screen and (max-width : #{$md-screen})";
$md-only: "only screen and (min-width : #{$sm-screen + 1}) and (max-width : #{$md-screen})";