.p-auto { padding: auto; }
.pt-auto { padding-top: auto; }
.pr-auto { padding-right: auto; }
.pb-auto { padding-bottom: auto; }
.pl-auto { padding-left: auto; }
.ph-auto { padding: { left: auto; right: auto; }}
.pv-auto { padding: { top: auto; bottom: auto; }}
@for $i from 0 through 100 {
    $val: .25em * $i;
    .p-#{$i} { padding: $val; }
    .pt-#{$i} { padding-top: $val; }
    .pr-#{$i} { padding-right: $val; }
    .pb-#{$i} { padding-bottom: $val; }
    .pl-#{$i} { padding-left: $val; }
    .ph-#{$i} { padding: { left: $val; right: $val; }}
    .ph-#{$i} { padding: { top: $val; bottom: $val; }}
}