.table {
    background-color: $white;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    white-space: nowrap;

    thead { 
        td {
            color: $grey;
            font-weight: $fw-semi-bold;
        }
    }

    tbody {
        tr { 
            border-top: .1em solid $white-ter; 
            transition: .2s;
            &:hover {
                    background-color: $light;
            }
        }
    }

    td { padding: 1.25em 0; }
}