h1 { font-size: calc(1.375rem + 1.5vw); }
h2 { font-size: calc(1.325rem + .9vw); }
h3 { font-size: calc(1.3rem + .6vw); }
h4 { font-size: calc(1.275rem + .3vw); }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

.display-1 { font-size: calc(1.625rem + 4.5vw); }
.display-2 { font-size: calc(1.575rem + 3.9vw); }
.display-3 { font-size: calc(1.525rem + 3.3vw); }
.display-4 { font-size: calc(1.475rem + 2.7vw); }
.display-5 { font-size: calc(1.425rem + 2.1vw); }
.display-6 { font-size: calc(1.375rem + 1.5vw); }