// Text Color
.t-primary { color: $primary; }
.t-link { color: $link; }
.t-info { color: $info; }
.t-success { color: $success; }
.t-warning { color: $warning; }
.t-danger { color: $danger; }

.t-white { color: $white; }
.t-white-ter { color: $white-ter; }
.t-grey-lighter { color: $grey-lighter; }
.t-grey-light { color: $grey-light; }
.t-grey { color: $grey; }
.t-grey-dark { color: $grey-dark; }
.t-grey-darker { color: $grey-darker; }
.t-black-ter { color: $black-ter; }
.t-black { color: $black; }

// Background Color
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-primary { background-color: $primary; }
.bg-link { background-color: $link; }
.bg-info { background-color: $info; }
.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-danger { background-color: $danger; }

.bg-white { background-color: $white; }
.bg-white-ter { background-color: $white-ter; }
.bg-grey-lighter { background-color: $grey-lighter; }
.bg-grey-light { background-color: $grey-light; }
.bg-grey { background-color: $grey; }
.bg-grey-dark { background-color: $grey-dark; }
.bg-grey-darker { background-color: $grey-darker; }
.bg-black-ter { background-color: $black-ter; }
.bg-black { background-color: $black; }