.cursor-default { cursor: default !important; }
.cursor-crosshair { cursor: crosshair !important; }
.cursor-help { cursor: help !important; }
.cursor-move { cursor: move !important; }
.cursor-pointer { cursor: pointer !important; }
.cursor-progress { cursor: progress !important; }
.cursor-text { cursor: text !important; }
.cursor-wait { cursor: wait !important; }
.cursor-cell { cursor: cell !important; }
.cursor-nw-resize { cursor: nw-resize !important; }
.cursor-n-resize { cursor: n-resize !important; }
.cursor-ne-resize { cursor: ne-resize !important; }
.cursor-copy { cursor: copy !important; }
.cursor-no-drop { cursor: no-drop !important; }
.cursor-vertical-text { cursor: vertical-text !important; }
.cursor-alias { cursor: alias !important; }
.cursor-w-resize { cursor: w-resize !important; }
.cursor-none { cursor: none !important; }
.cursor-e-resize { cursor: e-resize !important; }
.cursor-context-menu { cursor: context-menu !important; }
.cursor-not-allowed { cursor: not-allowed !important; }
.cursor-nesw-resize { cursor: nesw-resize !important; }
.cursor-nwse-resize { cursor: nwse-resize !important; }
.cursor-sw-resize { cursor: sw-resize !important; }
.cursor-s-resize { cursor: s-resize !important; }
.cursor-se-resize { cursor: se-resize !important; }
.cursor-ew-resize { cursor: ew-resize !important; }
.cursor-ns-resize { cursor: ns-resize !important; }
.cursor-row-resize { cursor: row-resize !important; }
.cursor-coll-resize { cursor: col-resize !important; }
.cursor-all-scroll { cursor: all-scroll !important; }
.cursor-zoom-in { cursor: zoom-in !important; }
.cursor-zoom-out { cursor: zoom-out !important; }
.cursor-grab { cursor: grab !important; }
.cursor-grabbing { cursor: grabbing !important; }