.cursor-default { cursor: default; }
.cursor-crosshair { cursor: crosshair; }
.cursor-help { cursor: help; }
.cursor-move { cursor: move; }
.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-text { cursor: text; }
.cursor-wait { cursor: wait; }
.cursor-cell { cursor: cell; }
.cursor-nw-resize { cursor: nw-resize; }
.cursor-n-resize { cursor: n-resize; }
.cursor-ne-resize { cursor: ne-resize; }
.cursor-copy { cursor: copy; }
.cursor-no-drop { cursor: no-drop; }
.cursor-vertical-text { cursor: vertical-text; }
.cursor-alias { cursor: alias; }
.cursor-w-resize { cursor: w-resize; }
.cursor-none { cursor: none; }
.cursor-e-resize { cursor: e-resize; }
.cursor-context-menu { cursor: context-menu; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-nesw-resize { cursor: nesw-resize; }
.cursor-nwse-resize { cursor: nwse-resize; }
.cursor-sw-resize { cursor: sw-resize; }
.cursor-s-resize { cursor: s-resize; }
.cursor-se-resize { cursor: se-resize; }
.cursor-ew-resize { cursor: ew-resize; }
.cursor-ns-resize { cursor: ns-resize; }
.cursor-row-resize { cursor: row-resize; }
.cursor-coll-resize { cursor: col-resize; }
.cursor-all-scroll { cursor: all-scroll; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-zoom-out { cursor: zoom-out; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }