.shadow-none { box-shadow: $box-shadow-none !important; }
.shadow-sm { box-shadow: $box-shadow-sm !important; }
.shadow-md { box-shadow: $box-shadow-md !important; }
.shadow-lg { box-shadow: $box-shadow-lg !important; }