.flex-row, .f-row { flex-direction: row; }
.flex-row-reverse, .f-row-reverse { flex-direction: row-reverse; }
.flex-column, .f-column { flex-direction: column; }
.flex-column-reverse, .f-column-reverse { flex-direction: column-reverse; }

.flex-nowrap, .f-nowrap { flex-wrap: nowrap; }
.flex-wrap, .f-wrap { flex-wrap: wrap; }
.flex-wrap-reverse, .f-wrap-reverse { flex-wrap: wrap-reverse; }

.flex-justify-flex-start, .f-justify-flex-start { justify-content: flex-start; }
.flex-justify-flex-end, .f-justify-flex-end { justify-content: flex-end; }
.flex-justify-center, .f-justify-center { justify-content: center; }
.flex-justify-space-between, .f-justify-space-between { justify-content: space-between; }
.flex-justify-space-around, .f-justify-space-around { justify-content: space-around; }
.flex-justify-start, .f-justify-start { justify-content: start; }
.flex-justify-end, .f-justify-end { justify-content: end; }
.flex-justify-left, .f-justify-left { justify-content: left; }
.flex-justify-right, .f-justify-right { justify-content: right; }

.flex-align-flex-start, .f-align-flex-start { align-items: flex-start; }
.flex-align-flex-end, .f-align-flex-end { align-items: flex-end; }
.flex-align-center, .f-align-center { align-items: center; }
.flex-align-space-between, .f-align-space-between { align-items: space-between; }
.flex-align-space-around, .f-align-space-around { align-items: space-around; }
.flex-align-start, .f-align-start { align-items: start; }
.flex-align-end, .f-align-end { align-items: end; }
.flex-align-stretch, .f-align-stretch { align-items: stretch; }
.flex-align-baseline, .f-align-baseline { align-items: baseline; }

.flex-align-content-stretch, .f-align-content-stretch { align-content: stretch; }
.flex-align-content-flex-start, .f-align-content-flex-start { align-content: flex-start; }
.flex-align-content-flex-end, .f-align-content-flex-end { align-content: flex-end; }
.flex-align-content-center, .f-align-content-center { align-content: center; }
.flex-align-content-baseline, .f-align-content-baseline { align-content: baseline; }

.flex-align-self-auto, .f-align-self-auto { align-self: auto; }
.flex-align-self-flex-start, .f-align-self-flex-start { align-self: flex-start; }
.flex-align-self-flex-end, .f-align-self-flex-end { align-self: flex-end; }
.flex-align-self-center, .f-align-self-center { align-self: center; }
.flex-align-self-baseline, .f-align-self-baseline { align-self: baseline; }
.flex-align-self-stretch, .f-align-self-stretch { align-self: stretch; }

@for $i from 0 to 100 {
    .flex-grow-#{$i}, .f-grow-#{$i} {
        flex-grow: $i;
    }
}

@for $i from 0 to 100 {
    .flex-shrink-#{$i}, .f-shrink-#{$i} {
        flex-shrink: $i;
    }
}