.h-full { min-height: 100% !important; }
.h-half { min-height: 50% !important; }
.h-1-4 { min-height: 25% !important; }
.h-3-4 { min-height: 75% !important; }
.h-1-5 { min-height: 20% !important; }
.h-2-5 { min-height: 40% !important; }
.h-3-5 { min-height: 60% !important; }
.h-4-5 { min-height: 80% !important; }

@for $i from 0 to 76 {
    $val: 1em * $i !important;
    .h-#{$i} { height: $val; }
}