.w-full { width: 100% !important; }
.w-half { width: 50% !important; }
.w-1-4 { width: 25% !important; }
.w-3-4 { width: 75% !important; }
.w-1-5 { width: 20% !important; }
.w-2-5 { width: 40% !important; }
.w-3-5 { width: 60% !important; }
@for $i from 0 to 76 {
    .w-#{$i} { width: 1em * $i; }
}