.box {
    background-color: $white;
    box-shadow: $box-shadow-md;
    border-radius: $radius-xl;
    padding: 1.5em;
    margin: 1em;

    &.border-primary { border-left: .45em solid $primary;}
    &.border-secondary { border-left: .45em solid $secondary;}
    &.border-success { border-left: .45em solid $success;}
    &.border-danger { border-left: .45em solid $danger;}
    &.border-warning { border-left: .45em solid $warning;}
    &.border-info { border-left: .45em solid $info;}
    &.border-link { border-left: .45em solid $link;}
    &.border-light { border-left: .45em solid $light;}
    &.border-dark { border-left: .45em solid $dark;}
}