.button {
    padding: .5em 1em;
    border: none;
    outline: none;
    border-radius: $radius-md;
    cursor: pointer;
    color: $white;

    // Default
    @include button($primary, $primary-shadow, $primary-outline);
    font-size: 1rem;

    // Colors
    &.primary { @include button($primary, $primary-shadow, $primary-outline); }
    &.secondary { @include button($secondary, $secondary-shadow, $secondary-outline); }
    &.success { @include button($success, $success-shadow, $success-outline); }
    &.danger { @include button($danger, $danger-shadow, $danger-outline); }
    &.warning { @include button($warning, $warning-shadow, $warning-outline); color: $grey-darker; }
    &.info { @include button($info, $info-shadow, $info-outline); }
    &.link { @include button($link, $link-shadow, $link-outline); }
    &.light { @include button($light, $light-shadow, $light-outline); color: $grey-darker; }
    &.dark { @include button($dark, $dark-shadow, $dark-outline); }

    &.primary-light { @include button($primary-light, $primary-light-shadow, $primary-outline); color: $primary; }
    &.secondary-light { @include button($secondary-light, $secondary-light-shadow, $secondary-outline); color: $secondary; }
    &.success-light { @include button($success-light, $success-light-shadow, $success-outline); color: $success; }
    &.danger-light { @include button($danger-light, $danger-light-shadow, $danger-outline); color: $danger; }
    &.warning-light { @include button($warning-light, $warning-light-shadow, $warning-outline); color: $warning; }
    &.info-light { @include button($info-light, $info-light-shadow, $info-outline); color: $info; }
    &.link-light { @include button($link-light, $link-light-shadow, $link-outline); color: $link; }
    &.dark-light { @include button($dark-light, $dark-light-shadow, $dark-outline); color: $dark; }

    // Sizes
    &.sm { font-size: 0.75rem; }
    &.md { font-size: 1rem; }
    &.lg { font-size: 1.25rem; }
    &.xl { font-size: 1.5rem; }
}