.navbar {
    width: 100%;
    background-color: transparent;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    z-index: 1;

    .logo {
        p, a {
            font-size: 1.5rem;
            font-weight: $fw-semi-bold;
            user-select: none;
            cursor: pointer;
            text-decoration: none;
            color: $grey-darker;
        }

        transition: .2s;
        &:hover { opacity: 0.8; }
    }

    .items {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        ul, ol {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 1.25em;
    
            li {
                cursor: pointer;
                user-select: none;

                a {
                    text-decoration: none;
                    color: $grey;
                    font-size: 1rem;

                    i { color: $grey; }
    
                    transition: .2s;
                    &:hover { color: $grey-darker; i { color: $grey-darker; transition: .2s; } }
                }

                &.dropdown {
                    .dropdown-content {
                        min-width: 8em;
                        display: none;
                        position: absolute;
                        padding-top: .75em;

                        ul, ol {
                            display: flex;
                            flex-direction: column;
                            background-color: $white;
                            padding: 1em;
                            border-radius: $radius-sm;
                            box-shadow: $box-shadow-md;
                        }

                        &:hover { display: block; }
                    }

                    &:hover { .dropdown-content { display: block; }}
                }
            }
        }
    }

    .mobile-items { 
        display: none;

        .mobile-icon {
            transform: .2s;
            &:hover { opacity: 0.8; }
        }

        .mobile-content {
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: $white;
            padding: 1em;
            z-index: 999;

            ul {
                list-style-type: none;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: .5em;

                li {
                    transition: .2s;
                    &:hover { opacity: 0.8; }

                    a {
                        color: $grey-darker;
                        text-decoration: none;
                        font-size: 1.75rem;
                    }
                }
            }

            .close {
                position: absolute;
                top: 0;
                right: 3.5em;
                cursor: pointer;

                transition: .2s;
                &:hover { opacity: 0.8; }

                &:after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    content: "\d7";
                    font-size: 3.75rem;
                    color: $grey-darker;
                    text-align: center;
                }
            }
        }
    }

    // TODO: Responsive Navbar
    &.breakpoint-sm {
        @media screen and (max-width: $breakpoint-sm) { @include responsive-navbar; }
    }

    &.breakpoint-md {
        @media screen and (max-width: $breakpoint-md) { @include responsive-navbar; }
    }

    &.breakpoint-lg {
        @media screen and (max-width: $breakpoint-lg) { @include responsive-navbar; }
    }

    &.breakpoint-xl {
        @media screen and (max-width: $breakpoint-xl) { @include responsive-navbar; }
    }

    &.breakpoint-xxl {
        @media screen and (max-width: $breakpoint-xxl) { @include responsive-navbar; }
    }
}