.navbar {
    width: 100%;
    background-color: transparent;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    z-index: 1;

    .logo {
        p, a {
            font-size: 1.5rem;
            font-weight: $fw-semi-bold;
            user-select: none;
            cursor: pointer;
            text-decoration: none;
            color: $grey-darker;
        }

        transition: .2s;
        &:hover { opacity: 0.8; }
    }

    .items {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        ul, ol {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 1.25em;
    
            li {
                cursor: pointer;
                user-select: none;

                a {
                    text-decoration: none;
                    color: $grey;
                    font-size: 1rem;

                    i { color: $grey; }
    
                    transition: .2s;
                    &:hover { color: $grey-darker; i { color: $grey-darker; transition: .2s; } }
                }

                &.dropdown {
                    .dropdown-content {
                        min-width: 8em;
                        display: none;
                        position: absolute;
                        padding-top: .75em;

                        ul, ol {
                            display: flex;
                            flex-direction: column;
                            background-color: $white;
                            padding: 1em;
                            border-radius: $radius-sm;
                            box-shadow: $box-shadow-md;
                        }

                        &:hover { display: block; }
                    }

                    &:hover { .dropdown-content { display: block; }}
                }
            }
        }
    }

    // TODO: Responsive Navbar
    &.breakpoint-sm {
        @media screen and (max-width: $breakpoint-sm) {
            .items { display: none; }
        }
    }

    &.breakpoint-md {
        @media screen and (max-width: $breakpoint-md) {
            .items { display: none; }
        }
    }

    &.breakpoint-lg {
        @media screen and (max-width: $breakpoint-lg) {
            .items { display: none; }
        }
    }

    &.breakpoint-xl {
        @media screen and (max-width: $breakpoint-xl) {
            .items { display: none; }
        }
    }

    &.breakpoint-xxl {
        @media screen and (max-width: $breakpoint-xxl) {
            .items { display: none; }
        }
    }
}